@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Inter:wght@100;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #fff;
}
.page-layout{
    width: 100vw;
    height: 100%;
    padding-left: 8%;
    padding-right: 8%;
}
.header{
    background-image: url(Gallery/mainBg.jpg);
    width: 100vw;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
    color: #202020;
    text-align: center;
}
.avatar{
    padding-top: 30%;
}
.avatar img{
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    border-width: 4px;
    border-style: solid;
    border-color: rgba(104, 115, 98, 1);
}
#header_name{
    padding-top: 20%;
    font-size: 1.2rem;
    font-weight: bold;
}
#header_first_text{
    font-size: 0.8rem;
    font-weight: lighter;
    padding-top: 2%;
}
#header_second_text{
    font-size: 1.2rem;
    font-weight: lighter;
    padding-top: 2%;
}
.slider{
    width: 100vw;
    background-color:rgba(104, 115, 98, 1);
    padding: 8%;
}
.about_me{
    display: block;
    height:600px;
}
.stick{
    background-color: rgba(52, 78, 51, 1);
    width: 50px;
    height: 5px;
}
h1{
    font-size: 1.1rem;
    font-weight: 400;
}

h2{
    margin-top: 50%;
    font-size: 1.1rem;
    font-weight: 400;
}
h3{
    font-size: 1rem;
    font-weight: lighter;
}
.skill_page{
    background-image: url(Gallery/secondBg.jpg);
    width: 100vw;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
}
.my_id{
    background-color: rgba(127, 140, 120, 1);
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 8%;
    font-size: 80%;
}
.stick_vert{
    background-color: #344e33;
    width: 5px;
    height: 150px;
    margin: 10px;
}
.left_id{
    text-align: right;
}
.left_id p{
    padding-top: 20%;
    padding-bottom: 20%;
}
.right_id{
    text-align: left;
}
.right_id p{
    padding-top: 15%;
    padding-bottom: 15%;
}
.contact_form{
    background-color: rgba(116, 129, 109, 1);
    width: 100vw;
    height: 600px;
    padding: 8%;
    display: flex;
    flex-direction: column;
}
.contact_me{
    font-size: 1.5rem;
}
.contact_form .stick{
    margin-bottom:8%;
}
textarea{
    resize: none;
    width: 100%;
    height: 100%
}
.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;
    pointer-events: none;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1.5px solid #344e33;  
  background:transparent;
  width:100%;
  padding:2% 0 1% 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:2px solid #202020;
 transition: 1s border-bottom;	
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}















.footer{
    font-size: 0.8rem;
    font-weight: lighter;
    background-color: #202020;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* @media (min-width: 768px){

} */